* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Define CSS variables for consistent theming  */
:root {
    --base-color: #333;
    --text-color: #fff;
    --primrary-color: #f4f4f4;
    --secondary-color: #ddd;
    --color-1: #333;
    --color-2: #fff;
    
}


html {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Carina's CSS for the header*/
header {
    background: #0C3C78;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0%;
    width: 100%
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    border: #F5F8FC solid 1px;
    border-radius: 1.5625rem;
    padding: .5rem 1rem;
    background-color: #F5F8FC;
    cursor: pointer;
}

header nav ul li a:hover{
    background-color: #3B6FD8;
}

header h1 {
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem;
    color: #F5F8FC;
}

header .logo-title{
    display: flex;
    align-items: center;
}

header img{
    width: 2.4rem;
    height:2.4rem;
    border-radius: 50%;
}

/*Amos's CSS*/
main {
    padding: 20px;
}

.app-features-container {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.feature-items {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}


/* Carina's CSS for the footer*/
footer {
    background: #0C3C78;
    color: #F5F8FC;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom:0%;
    width: 100%;

}

footer nav ul {
    margin: .5rem;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
footer nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer nav ul li a:hover{
    color:#3B6FD8
}

.SocialMedia {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #F5F8FC;
    margin: .5rem;
}

.SocialMedia a {
    color: #F5F8FC;
    text-decoration: none;
    border: #F5F8FC solid 1px;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3B6FD8;

}

.SocialMedia a:hover{
    background-color: #F5F8FC;
    color: #3B6FD8;
}

footer p {
    margin-top: 1.5rem;
    font-size: .6rem;
}